main {
    min-height: 75vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1vw 50vw 1vw 1fr;

    margin: 10px 6px 0;
    padding-block: 5vh;

    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 5px gray;
    color: #012;
}

/** Menu navegacion de articulos */

#navArticulosDetails{
    width: 80%;
    line-height: 1.5em;
}

#navArticulosDetails>*:not(#rootArticulos){
    text-indent: 1.5em;

    list-style-position: inside;
    list-style-type: "- ";
}

/** Aside de informacion del articulo */

#infoArticulos>* , #navArticulos>*{
    margin-inline: auto;
}

#infoArticulos #tituloArticulo{
    width: max-content;
}

#infoArticulos figure{
    width: 80%;
    height: 240px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 5px #444;
    background-image: linear-gradient(20deg, #ccc, #ddd, #ccc);
    background-image: -webkit-linear-gradient(20deg, #ccc, #ddd, #ccc);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#infoArticulos table{
    width: 85%;
}

#infoArticulos table tr{
    display: block;
    margin-bottom: 5px;
}

/** --- */

.separator {
    width: 1px;
    box-shadow: 0 0 5px #777;

    margin-inline: auto;

    background-color: #999;
}

/* Diseño responsive */

@media only screen and (max-width: 870px) {
    main{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }

    #displayArticulos{
        order: 1;        
        grid-row-start: 1;
        grid-row-end: 3;

        border-right: 1px solid #999;
    }

    .desaparecer,#metadatosArticulo {
        display: none;
    }
}

@media only screen and (max-width: 630px){
    main{
        grid-template-rows: .7fr .3fr;
        grid-template-columns: 1fr;
    }

    #displayArticulos{
        grid-row-start: 1;
        grid-row-end: 2;

        border-right: none;
        border-bottom: 1px solid #999;
    }

    #infoArticulos{
        display: none;
    }
}