* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

#encabezadoPagina, #barraNavegacion, #piePagina {
    display: block;
}

#piePagina {
    min-height: 15vh;
}

#encabezadoPagina {
    min-height: 10vh;
}

#barraNavegacion {
    min-height: 5vh;
}

main {
    min-height: 70vh;

    display: flex;
    flex-wrap: wrap;
}

main > * {
    flex-grow: 1;
}

main > :nth-child(2){
    flex-grow: 2;
}
